<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.kjproducts.badmintontrainer">

    <permission-group android:name="android.permission-group.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".IntroScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondIntroScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/main"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ContentActivity"
            android:label="@string/content"
            android:theme="@style/MyTheme" />

        <activity
            android:name=".IdeaActivity"
            android:label="@string/list_idea"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".GiveIdeaActivity"
            android:label="@string/give_idea"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"></activity>
    </application>

</manifest>